@charset "utf-8";

// Include files
/***************************************/
/*************** CORES *****************/
/***************************************/
@import "compass";


     

body{  
    width: 100%;
    padding: 20px;
}
$color: red;

h1{
	color: $color;
}
.btn{
    border-radius: 5px;
    color: $color;
    @include background-size(cover);
    border: 1px solid;
}
