/***************************************/
/*************** CORES *****************/
/***************************************/
body {
  width: 100%;
  padding: 20px;
}

h1 {
  color: red;
}

.btn {
  border-radius: 5px;
  color: red;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  border: 1px solid;
}
